html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container{
    width:70vw;
    margin: 40px auto;
    max width:960;
}

body{
  font-family: 'Raleway', sans-serif;
margin:0;
 background-color:#fffeea;   
}

header.primary{
    background:#A6DAFF;
text-align:center;
   color:#C7F6B6; 
text-shadow:3px 3px #000000;
padding: 25px 35px;
    
}

header.primary h1{
     font-size:50px;
    
}

 h2{
    text-align:center;
     font-size:40px;
 }

h3{
   
    font-size:20px;
}

ul a{
    text-decoration: none;

}

ul li{
    list-style-type:none;


    
}


