/*--Colors for SpaceX Dragon site : #9CC5F7 (SpaceX Blue) #99CCE0(Almost Teal)--*/

html {
 box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header.primary{
    text-align:center;
}

header.primary h1 a {
    color: #ffffff;
    background-image: url(https://assets.codepen.io/7248/logo-2.png);
    display: block;
    width: 450px;
    height: 70px;
    margin: 0 auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
   }

header.primary nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    max-width: 900px;
    margin: 20px auto;
}

header.primary nav ul li{
  list-style-type:none;  
}

header.primary nav ul li a {
   text-decoration:none; 
   color:#ffffff;
   background-color:#9CC5F7;
   border-radius:10px;
   padding:8px 16px;
   transition:1s;
}

header.primary nav a:hover, header.primary nav a:active{
background-color:rgba(0,0,0,.8);
}

#pictures {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    max-width: 900px;
    margin: 100px auto;
}

#colophon {
    background-color:#9CC5F7;
}

#content {
    background-color:#9CC5F7;
}

h3{
    text-align: center
}

table{
    background-color:#99CCE0;
    
}

table{
      display:flex;
      align-items:center;
      justify-content:center;
       text-align:center;
   }



   
   
  